<div class="card shadow-sm">
  <div class="image-item" >
    <img src="" />
  </div>
  <div class="card-body">
    <p class="card-text">{{object.title}}</p>
    <p class="card-text">{{object.description}}</p>
    <p class="card-text">$ {{object.price}}</p>
    <p class="card-text"> {{object.idCategory}}</p>
    <hr/>
    <div class="d-flex justify-content-between align-items-center mt-3">
      <div class="btn-group">
        <a class="btn btn-sm btn-outline-primary"

           routerLink="/product/{{object.id}}" role="button" >Ver detalle</a>

      </div>
    </div>
  </div>
</div>
