<body>

<main class="form-signin w-100 h-100">
  <form #f="ngForm" class="p-5" (ngSubmit)="signIn()">

    <h1 class="h3 mb-4 fw-bold">Iniciar Sesion</h1>

    <div class="form-floating mb-4 ">
      <input type="email"  name="email" class="form-control " id="floatingInput" placeholder="name@example.com" [(ngModel)]="login.email"email maxlength="100" required>
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating  mb-4 ">
      <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="login.password" required>
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg"  type="submit" [disabled]="f.invalid">INICIAR SESION</button>

    <div class="forget_password">
     <p>¿Olvidaste tu contraseña?<span><a href="/forget_password">Reestablecer contraseña</a></span></p>
    </div>

  </form>
</main>
</body>




