<div class="account_container">
  <div class="transaction_container">
    <h2>Mis transacciones y productos</h2>
    <div class="transaction_item_container">
      <div class="transaction_item">
        <a routerLink="/compras"><i class="fa-solid fa-bag-shopping" style="color: #ffffff;"></i></a>
        <h3>Compras</h3>
      </div>
      <div class="transaction_item">
        <a routerLink="/gestion_productos"><i class="fa-solid fa-box" style="color: #ffffff;"></i></a>
        <h3>Mis productos</h3>
      </div>
    </div>
  </div>

  <div class="payment_method_container">
    <h2>Mis metodos de pago</h2>
    <div class="payment_method_item">
      <a routerLink="/metodos_de_pago"><i class="fa-regular fa-credit-card" style="color: #ffffff;"></i></a>
      <h3>Tarjetas</h3>
    </div>
  </div>

  <div class="favorite_products_container">
    <h2>Mis productos favoritos</h2>
    <div class="favorite_product_list">
      <p>product1</p>
      <p>product1</p>
      <p>product1</p>
      <p>product1</p>
    </div>
  </div>
</div>


