<nav class="nav">
  <ul>
    <li class="nav_item">
      <a routerLink="" class="nav_link">
        <i class="fa-solid fa-house"></i>
        Home
      </a>
    </li>
    <li class="nav_item">
      <a routerLink="/cuenta" class="nav_link">
        <i class="fa-regular fa-user"></i>
        Cuenta
      </a>
    </li>
    <li class="nav_item">
      <a routerLink="estado/APROBADO" class="nav_link">
        <i class="fa-regular fa-square-check"></i>
        Aprobado
      </a>
    </li>
    <li class="nav_item">
      <a routerLink="estado/DENEGADO" class="nav_link">
        <i class="fa-solid fa-ban"></i>
        Denegado
      </a>
    </li>
    <li class="nav_item">
      <a routerLink="estado/PENDIENTE_REVISION" class="nav_link">
        <i class="fa-regular fa-clock"></i>
        Pendiente
      </a>
    </li>
  </ul>
</nav>
