<div *ngIf="!isLogged; then nologged else logged"></div>
<ng-template #nologged>
    <app-account-no-logged></app-account-no-logged>
</ng-template>
<ng-template #logged>
    <div class="main_container">
        <app-header></app-header>            
    <div class="table_container">
        <h2>Transacciones</h2>   
        <table class="table_buys">
            <thead>
                <tr>                    
                    <th>Producto ID</th>
                    <th>Unidades</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let item of transactionsDetails">
                    <td>
                        <p>{{item.idProduct}}</p>
                    </td>
                    <td>
                        <p>{{item.unities}}</p>
                    </td>          
                    <td>
                        <p>{{item.price}}</p>
                    </td>          
                </tr>
            </tbody>
        </table>
    </div>
        
        <app-nav-user></app-nav-user>
    </div>
</ng-template>