.main_container {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.table_container{
    min-height: 80%;
    padding: 1em;
    
}
.table_container h2{
    color: #fff;
    font-size: 2em;
    margin-bottom: 1em;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    color: #fff;
    text-align: center;
    font-size: 1.3em;    
}

td{
    color: #fff;
    width: 40%;
    flex-wrap: wrap;
    border: 1px solid rgb(255, 255, 255);   
   
}



