.card_text, .badge{
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-weight: bold;
}
.card_item{
    background-color: #383838;   
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border-radius: 1em;
}

.card_item img{
    max-width: 100%;
    border-radius: 1em;
}

.btn{
    color: #ffffff;
    border: 1px solid #ffffff;
}
 .btn:hover{
    background-color: #ffe032;
 }

.badge{
    background-color: #c5ae28;    
 }