<div *ngIf="!isLogged; then nologged else logged"></div>
<ng-template #nologged>
  <app-account-no-logged></app-account-no-logged>
</ng-template>
<ng-template #logged>
<div class="main_container">
  <app-header></app-header>
<form class = "form_change_password" (ngSubmit)="changePasswordFunction()">
  <h1>Cambiar la contraseña</h1>

  <div class="text-field">
    <label>Contraseña nueva: </label>
    <input type="password" name="password" [(ngModel)]="changePassword.password" required>
  </div>
  <div class="text-field">
    <label>Confirmar contraseña nueva: </label>
    <input type="password" name="passwordRepeated" [(ngModel)]="changePassword.passwordRepeated" required>
  </div>
  <p *ngIf="!passwordEquals()" >Las contraseñas no coinciden</p>
  <button type="submit" [disabled]="!passwordEquals()">Restablecer contraseña</button>
  <app-alert [alert]="alert"></app-alert>
</form>
<app-nav-user></app-nav-user>
</div>
</ng-template>
