<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<header>
    <div class="header_container">
      <h1>uniMarket</h1>
      </div>
</header>
<body>
<div class="app_routes">
  <router-outlet></router-outlet>
</div>
<nav class="nav">
  <ul>
    <li class="nav_item">
      <a routerLink="" class="nav_link">
        <i class="fa-solid fa-house"></i>
        Home
      </a>
    </li>
    <li class="nav_item">
      <a routerLink="/cuenta" class="nav_link">
        <i class="fa-regular fa-user"></i>
        Cuenta
      </a>
    </li>
    <li class="nav_item">
      <a routerLink="/crear_producto" class="nav_link">
        <i class="fa-solid fa-circle-plus"></i>
      </a>
    </li>
    <li class="nav_item">
      <a routerLink="/categoria" class="nav_link">
        <i class="fa-regular fa-rectangle-list"></i>
        Categorias
      </a>
    </li>
    <li class="nav_item">
      <a routerLink="/carrito" class="nav_link">
        <i class="fa-solid fa-cart-shopping"></i>
        Carrito
      </a>
    </li>
  </ul>
</nav>
</body>
