<h1>Información de la persona</h1>

<form class="form_info_person" (ngSubmit)="updatePerson()">

  <div class="text-field">
    <label >Documento de identidad: </label>
    <input type="text" name="id" [(ngModel)]="person.id" readonly="readonly">
  </div>
  <div class="text-field">
    <label >Nombre: </label>
    <input type="text" name="name" [(ngModel)]="person.name">
  </div>
  <div class="text-field">
    <label >Email: </label>
    <input type="email" name="email" [(ngModel)]="person.email" email readonly="readonly">
  </div>
  <div class="text-field">
    <label >Pais: </label>
    <input type="text" name="country" [(ngModel)]="person.country">
  </div>
  <div class="text-field">
    <label >Ciudad: </label>
    <input type="text" name="city" [(ngModel)]="person.city">
  </div>
  <div class="text-field">
    <label >Dirección: </label>
    <input type="text" name="adress" [(ngModel)]="person.adress">
  </div>
  <div class="text-field">
    <label >Teléfono: </label>
    <input type="text" name="cellphoneNumber" [(ngModel)]="person.cellphoneNumber">
  </div>

  <button type="submit">Guardar cambios</button>
</form>
