<div *ngIf="!isLogged; then nologged else logged"></div>
<ng-template #nologged>
  <app-account-no-logged></app-account-no-logged>
</ng-template>
<ng-template #logged>
  <div class="main_container">
    <app-header></app-header>
    <div class="card p-5">
      <form #f="ngForm" *ngIf="products.length > 0">
        <div class="table-responsive text-center">
          <table class="table">
            <thead>
              <tr>

                <th>Producto</th>
                <th>Precio</th>
                <th>Unidades</th>
                <th>Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of products">

                <td>
                  <div class="d-flex text-start align-items-center">
                    <div class="col-4 me-3 ms-3">
                      <img [src]="item.product.images[0].url" width="100%" />
                    </div>
                    <span class="col-8">{{item.product.title}}</span>
                  </div>
                </td>
                <td class="align-middle">
                  <span>$ {{item.product.price}}</span>
                </td>
                <td class="align-middle">

                  <input type="number" name="unidades" class="form-control text-center" [(ngModel)]="item.units" min="0" (change)="updateTotalPrice()" />

                </td>
                <td class="align-middle">
                  <span>$ {{item.units * item.product.price}}</span>
                </td>
                <td class="align-middle">
                  <i class="fa-solid fa-trash" data-bs-toggle="modal"
                  data-bs-target="#borrar" ></i>
                </td>

                <div class="modal fade" id="borrar" tabindex="-1" aria-labelledby="borrarModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="borrarModalLabel">Eliminar producto</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>¿Está seguro que desea borrar los elementos seleccionados?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteProductCart(item)">Sí</button>
                      </div>
                    </div>
                  </div>
                </div>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="mt-5 d-flex justify-content-end">
          <div class="text-end">
            <h4>Valor a pagar: ${{totalPrice}}</h4>
            <div class="textfield cbPaymentMethod">
              <label>Categoría: </label>
              <select name="paymentMethod" [(ngModel)]="transaction.idPaymentMethod" required>
                <option value="" selected>Seleccione su metodo de pago</option>
                <option [value]="item.id" *ngFor="let item of paymentMethods; index as i"> {{item.bankingEntity}} {{item.cardNumber}} </option>
              </select>
            </div>
            <button class="btn btn-primary" (click)="createTransaction()"><i class="fa-regular fa-credit-card"></i>
              Comprar</button>
          </div>
        </div>
      </form>
      <div *ngIf="products.length == 0" class="alert alert-warning d-flex align-items-center" role="alert">
        <i class="fa-solid fa-triangle-exclamation"></i><span class="ms-3">No hay elementos en
          el carrito</span>
      </div>
    </div>
    <app-nav-user></app-nav-user>
  </div>



</ng-template>
